* {
    margin: 0;
    padding: 0;
  }


  *,
*:before,
*:after {
  box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    box-sizing:inherit;
}

.main{
    width: 100vw;
    height: 100vh;
    background: #355c7d;
    background: -webkit-linear-gradient(to right, #355c7d, #6c5b7b, #c06c84); 
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
    position: relative;
   
}


.content{
    background-image: url(./imager_1_29265_700.jpg);
    /* background-attachment: fixed; */
    width: 80rem;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    
}

.line{
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    font-size: 6.5rem;
    color:#FC5C7D;
    user-select: none;
    white-space: nowrap;
    border-right: 2px solid #FC5C7D;
    overflow: hidden;
}




.animation-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
    
}


@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 70rem;
          overflow: hidden;
          visibility: hidden;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: #FC5C7D;
    }
    to {
          border-right-color: transparent;
    }
}

.animation{
    animation: typewriter123 4s steps(40) 1s 1 normal both;
}

@keyframes typewriter123 {
    from {
          width: 0;
          border-right-color: #FC5C7D;
    }
    to {
          width: 70rem;
          border-right-color: transparent;
    }
}

.select{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%);
    width: 40rem;
    display: flex;
    justify-content: space-between;
}

.btn{
    height: 5rem;
    width: 10rem;
    border: none;
    outline: none;
    background-color: #ffcdd2;
    color:#777;
    font-size: 2rem;
    text-align: center;
    cursor:pointer;
    border-radius: 5px;
    user-select: none;
}


.btn:hover {
    border: 2px solid #333;
  }
  
  .btn:active {
    position: relative;
    top: 2px;
  }


.video{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.failureN{
    font-size: 3.5rem;
    position: absolute ;
    top: 80%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.successN{
    font-size: 3.5rem;
    position: absolute ;
    top: 80%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}
.type-sound{
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    width: 1px;
    height: 1px;
}